body {
  margin: 0;
  padding: 0;
}

p {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
  font-weight: 700;
}

p span {
  position: relative;
  display: block;
  flex: 0 0 8vw;
  height: 8vw;
  line-height: 8vw;
  font-size: 6vw;
  text-align: center;
}

p span:nth-of-type(2) {
  font-weight: 900;
  text-transform: uppercase;
}

p span:nth-of-type(3) {
  height: 24vw;
  line-height: 24vw;
}

p span::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  width: 100%;
  color: rgb(255, 255, 255);
  text-align: center;
  clip-path: polygon(100% 0, 100% 100%, 50% 100%, 50% 0);
}

p span:nth-of-type(1)::after {
  content: 'The best time to plant';
}

p span:nth-of-type(2)::after {
  content: 'a tree was 20 years ago.';
}

p span:nth-of-type(3)::after {
  content: 'The second best time is today.';
  height: 24vw;
  line-height: 24vw;
}

p::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  z-index: -6;
  display: block;
  width: 50%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
}
